<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="client-manager">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Clients Manager</h1>
        <button class="btn btn-success col-xs-12 col-lg-4" on-click="getCustomers">Get Customers</button>
        <button class="btn btn-warning col-xs-12 col-lg-4" on-click="addCustomer">Add Customers</button>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>idCliente</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clients}}" index-as="index">
              <tr>
                <td>[[item.nombre]]</td>
                <td>[[item.apellido]]</td>
                <td>[[item.idcliente]]</td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ClientManager extends Polymer.Element {
      static get is() { return 'client-manager'; }
      static get properties() {
        return {
          clients: {
            type: Array,
            notify: true
          }
        };
      }
      getCustomers(){
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var url = "http://127.0.0.1:3002/v1/Clientes";
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.clients = JSON.parse(request.responseText);
      }

      addCustomer(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var newClient = {"CustomerId":"1234","ContactName":"Pepe","CompanyName":"Pepe el Toro"};
        var body = JSON.stringify(newClient);
        request.send(body);
        //Cuando no se definen las propiedades se arman al vuelo
        this.answer = request.responseText;
        console.log(this.answer);

      }

    }

    window.customElements.define(ClientManager.is, ClientManager);
  </script>
</dom-module>
